@import "../App.scss";

.main {
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;

    @include tablet {
        padding-bottom: 80px;
    }

    &__wrapper {
        @include laptop {
            max-width: 1400px;
            margin: 0 auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include tablet {
            gap: 70px;
        }

        @include laptop {
            padding-top: 37.1vw;
        }
    }

    &__object {
        position: relative;
        padding: 40px 0;
        overflow: hidden;
        opacity: 0;
        transform: translateX(-100%);

        @include tablet {
            margin: 100px 20px 0px;
            border-radius: 15px;
            padding: 0;
        }

        @include laptop {
            margin: 0;
            position: absolute;
            top: 0;
            width: 68vw;
            right: -2.92vw;
            border-radius: 0 0 0 40%;
        }
    }

    &__image {
        width: 100%;
        transform: scale(1.4);
        margin-left: 20px;
        @include tablet {
            transform: scale(1);
            margin: 0;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;

        @include tablet {
            padding: 0 20px;
        }

        @include laptop {
            padding: 0 30px;
        }
    }

    &__animation-block {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__title {
        white-space: nowrap;
        transform: translateX(-100%);
        opacity: 0;

        span {
            color: #0ACF00;
        }
    }

    &__subtitle {
        transform: translateX(-100%);
        opacity: 0;

        @include tablet {
            max-width: 450px;
        }
    }

    &__animation-wrapper {
        width: 100%;
        padding-right: 15px;

        @include tablet {
            max-width: 200px;
            border-radius: 15px;
        }
    }

    &__animation {
        position: relative;
        width: 10px;
        height: 6px;
        border-radius: 15px;
        background-color: #0ACF00;
        animation: mainAnimation  4s linear infinite;
        
        @include tablet {
            width: 20px;
            height: 12px;
            animation: mainAnimationTablet 5s linear infinite;
        }
    }

    &__button {
        position: relative;
        font-size: 18px;
        color: white;
        background-color: #0ACF00;
        padding: 10px;
        border-radius: 15px;
        transition: .3s;
        cursor: pointer;
        transform: translateX(-100%);
        opacity: 0;

        @include tablet {
            max-width: 350px;
        }

        &.active {
            transform: scale(0.85);
            border-radius: 30px;
        }

       
    }
    
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: 0.3s;
    z-index: 15;
    &.active {
        left: 0;
      
        .popup__bgr {
            animation: bgrAnimation 1 .5s forwards;
            animation-delay: .4s;
        }
    }

    &__bgr {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.325);
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        background-color: white;
        border-radius: 15px;

        @include tablet {
            padding: 20px;
        }
    }

    &__exit-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__exit {
        padding: 12px 5px;
        cursor: pointer;
        
    }

    &__line {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #0ACF00;
        border-radius: 15px;
        transform: rotate(45deg) translateY(1.5px);

        &:last-child {
            transform: rotate(-45deg)translateY(-1.5px);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item:nth-child(3) {
        
        .form__input {
            min-height: 100px;
        }
    }

    &__label {
        display: block;
        padding-bottom: 10px;
    }

    &__input {
        border: 1px solid black;
        resize: vertical;
        border-radius: 15px;
        width: 100%;
        font-size: 18px;
        line-height: 150%;
        padding: 5px 10px;
        outline: none;
        transition: .3s;

        @include tablet {
            min-width: 320px;
        }

        &:focus {
            transform: scale(1.02);
        }
    }

    &__button {
        font-size: 18px;
        color: white;
        background-color: #0ACF00;
        padding: 10px;
        border-radius: 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.85);
            border-radius: 50%;
        }
    }
}

@keyframes bgrAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mainAnimation {
    0% {
        left: 0;
    }
    
  
    50% {
        left: 100%;
        width: 22px;
        
    }
    100% {
        left: 0;
    }
}

@keyframes mainAnimationTablet {
     0% {
        left: 0;
    }


    50% {
        left: 100%;
        width: 40px;
    }

    100% {
        left: 0;
    }
}

