.main {
    padding-bottom: 50px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__object {
        position: relative;
        padding: 40px 0;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        transform: scale(1.4);
        margin-left: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__animation-block {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__title {
        white-space: nowrap;
        span {
            color: #0ACF00;
        }
    }

    &__subtitle {
        opacity: 0.6;
    }

    &__animation-wrapper {
        width: 100%;
        padding-right: 15px;
    }

    &__animation {
        position: relative;
        width: 10px;
        height: 6px;
        border-radius: 15px;
        background-color: #0ACF00;
        animation: mainAnimation  4s linear infinite;
    }

    &__button {
        position: relative;
        font-size: 18px;
        color: white;
        background-color: #0ACF00;
        padding: 10px;
        border-radius: 15px;
        transition: .3s;

        &.active {
            transform: scale(0.85);
            border-radius: 30px;
        }

       
    }
    
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: 0.3s;
    z-index: 15;
    &.active {
        left: 0;
        .popup__exit {
            animation: rotateAnim infinite 3s;
            animation-timing-function: linear;
            animation-delay: 2s;
        }
        .popup__bgr {
            animation: bgrAnimation 1 .5s forwards;
            animation-delay: .4s;
        }
    }

    &__bgr {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.325);
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        background-color: white;
        border-radius: 15px;
    }

    &__exit-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__animation {
        flex: 1;
    }

    &__exit {
        padding: 12px 5px;
        cursor: pointer;
        
    }

    &__line {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #0ACF00;
        border-radius: 15px;
        transform: rotate(45deg) translateY(1.5px);

        &:last-child {
            transform: rotate(-45deg)translateY(-1.5px);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item:nth-child(3) {
        
        .form__input {
            min-height: 100px;
        }
    }

    &__label {
        display: block;
        padding-bottom: 10px;
    }

    &__input {
        border: 1px solid black;
        resize: vertical;
        border-radius: 15px;
        width: 100%;
        font-size: 18px;
        line-height: 150%;
        padding: 5px 10px;
        outline: none;
        transition: .3s;

        &:focus {
            transform: scale(1.02);
        }
    }

    &__button {
        font-size: 18px;
        color: white;
        background-color: #0ACF00;
        padding: 10px;
        border-radius: 15px;
        transition: 0.3s;
        &:active {
            transform: scale(0.85);
            border-radius: 50%;
        }
    }
}

@keyframes bgrAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateAnim {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    6% {
        transform: rotate3d(1, 1, 1, 60deg);
    }
    12% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    18% {
        transform: rotate3d(1, 1, 1, -60deg);
    }
    25% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    75% {
        transform: rotate3d(1, 1, 1, 60deg);
    }
    82% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    88% {
        transform: rotate3d(1, 1, 1, -60deg);
    }
    94% {
        transform: rotate3d(1, 1, 1, 60deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
}



@keyframes mainAnimation {
    0% {
        left: 0;
        width: 10px;
    }
    
  
    50% {
        left: 100%;
        width: 22px;
        
    }
    100% {
        left: 0;
        width: 10px;
    }
}