@import "../App.scss";

.card-border {
  position: relative;
  border-radius: 15px;
  margin-right: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 5px;
  opacity: 0;
  transform: translateX(-100%);
}

.card-border::before {
  content: '';
  position: absolute;
  width: 160%;
  height: 220%;
  top: -60%;
  left: -30%;
  background-image: conic-gradient(transparent, transparent, transparent, orange);
  animation: borderCard 6s infinite linear;
}
.card-border::after {
  content: '';
  position: absolute;
  width: 160%;
  height: 220%;
  top: -60%;
  left: -30%;
  background-image: conic-gradient(transparent, transparent, transparent, orange);
  animation: borderCard 6s infinite linear;
  animation-delay: 3s;
}

.slick-slide:nth-child(2) .card-border::before,
.slick-slide:nth-child(2) .card-border::after {
  background-image: conic-gradient(transparent, transparent, transparent, rgb(67, 67, 255));
}
.slick-slide:nth-child(3) .card-border::before,
.slick-slide:nth-child(3) .card-border::after {
  background-image: conic-gradient(transparent, transparent, transparent, yellow);
}
.slick-slide:nth-child(4) .card-border::before,
.slick-slide:nth-child(4) .card-border::after {
  background-image: conic-gradient(transparent, transparent, transparent, rgb(0, 166, 255));
}

@keyframes borderCard {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: #4C4C4C;
  width: 320px;
  border-radius: 15px;
  z-index: 1;

  @include tablet {
    width: auto;
    width: 360px;
  }

  @include laptop {
    width: 420px;
  }

  &__wrapper {
    display: flex;
    padding: 20px 10px;
    width: 100%;

    @include tablet {
      padding: 20px;
    }
  }

  &__text {
    flex: 1 1 50%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include tablet {
      padding: 10px 0;
    }
  }

  &__list {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    transform: translateY(15px);
    opacity: 0;
  }

  &__wrap-image {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 50%;
    align-self: center;
  }

  &__image {
    height: 100px;
    max-width: 100%;

    @include tablet {
      height: 140px;
    }
  }

}

